# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/healthcare_db?retryWrites=true&w=majority&appName=YOUR_APP_NAME

# Flask Configuration  
SECRET_KEY=new_token
FLASK_ENV=production
FLASK_APP=app.py

# Email Configuration (if needed)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
